.call {
  text-align: center;
  background-color: #ffffff;
  overflow: hidden;
}
@media(min-width: $media-mobile) {
  .call {
    height: 184px;
    padding-top: 55px;
    box-sizing: border-box;
  }
  .call__mobile {
    display: block;
  }
  .call__tablet {
    display: none;
  }
  .call__desktop {
    display: block;
  }
  .call__mobile-form {
    display: block;
  }
  .call__tablet-form {
    display: none;
  }
  .call__desktop-form {
    display: none;
  }
}
@media(min-width: $media-tablet) {
  .call {
    height: 228px;
    padding-top: 80px;
    box-sizing: border-box;
  }
  .call__mobile {
    display: none;
  }
  .call__tablet {
    display: block;
  }
  .call__desktop {
    display: none;
  }
  .call__mobile-form {
    display: none;
  }
  .call__tablet-form {
    display: block;
  }
  .call__desktop-form {
    display: none;
  }
}
@media(min-width: $media-desktop) {
  .call {
    height: 240px;
    padding-top: 90px;
    box-sizing: border-box;
  }
  .call__mobile {
    display: none;
  }
  .call__tablet {
    display: none;
  }
  .call__desktop {
    display: block;
  }
  .call__mobile-form {
    display: none;
  }
  .call__tablet-form {
    display: none;
  }
  .call__desktop-form {
    display: block;
  }
}
