.contact {
  position: relative;
  color: #283645;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
}
.contact p {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contact a {
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 1.3;
  color: #d22856;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contact a:hover {
  color: #000;
  text-decoration: underline;
  transition: color 0.3s;
}
.contact a:active {
  color: #ced0d2;
  text-decoration: none;
  transition: color 0.3s;
}
.contact__way {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
}
@media(min-width: $media-mobile) {
  .contact {
    height: 410px;
    padding-top: 48px;
  }
  .contact:after {
    content: "";
    width: 100%;
    height: 30px;
    position: absolute;
    top: 410px;
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 100 100' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 100,0 50,9' fill='rgb(255, 255, 255)' /></svg>");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .contact__way {
    padding-top: 46px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .contact__way-item {
    width: auto;
  }
  .contact__way-item p {
    margin-bottom: 10px;
  }
  .contact__way-item a {
    margin-bottom: 30px;
  }
}

@media(min-width: $media-tablet) {
  .contact {
    height: 400px;
    padding-top: 55px;
  }
  .contact:after {
    content: "";
    width: 100%;
    height: 70px;
    position: absolute;
    top: 400px;
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 100 100' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 100,0 50,10' fill='rgb(255, 255, 255)' /></svg>");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .contact__way {
    padding-top: 56px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contact__way-item {
    width: 35%;
  }
  .contact__way-item p {
    margin-bottom: 15px;
  }
  .contact__way-item a {
    margin-bottom: 55px;
  }
}

@media(min-width: $media-desktop) {
  .contact {
    padding-top: 76px;
    height: 365px;
  }
  .contact:after {
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
    top: 365px;
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 100 100' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 100,0 50,8' fill='rgb(255, 255, 255)' /></svg>");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .contact__way {
    padding-top: 72px;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .contact__way-item {
    width: 25%;
  }
  .contact__way-item p {
    margin-bottom: 35px;
  }
}
