.description {
  background-color: #f2f2f2;
  overflow: hidden;
}
.description h2,.description p {
  max-width: 315px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.description__items {
  display: flex;
  background: none;
}

@media(min-width: $media-mobile) {
  .description {                                                                                                    //circle cx='100' cy='100' r='50'
    height: 785px;
    background-image: url('../img/trash.png'), url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 100 100' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 100,0 0,10' fill='rgb(255,255,255)' /></svg>");
    background-size: 50% ,100%;
    background-repeat: no-repeat, no-repeat;
    background-position: center 109% ,top center;
  }
  .description__items {
    width: 100%;
    padding-top: 35px;
    flex-direction: column;
    float: left;
    text-align: center;
  }
  .description__items h2 {
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .description__item-image {
    display: none;
  }
  .description__item_br-tablet {
    display: none;
  }
  .description__item_br-tablet-desktop {
    display: none;
  }
  .description__item_br-desktop {
    display: none;
  }
}
@media(min-width: $media-tablet) {
  .description {
    height: 485px;
    background-image: url('../img/trash.png'),url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 100 100' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 100,0 100,0.7 0,8.7' fill='rgb(255,255,255)' /></svg>");
    background-size: 38%, 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: 10% -14%, top center;
  }
  .description__items {
    width: 50%;
    padding-top: 35px;
    flex-direction: column;
    float: right;
    text-align: left;
  }
  .description__item-image {
    display: none;
  }
  .description__item_br-mobile {
    display: none;
  }
  .description__item_br-mobile-desktop {
    display: none;
  }
  .description__item_br-tablet {
    display: block;
  }
  .description__item_br-tablet-desktop {
    display: block;
  }
  .description__item_br-desktop {
    display: none;
  }
}
@media(min-width: $media-desktop) {
  .description {
    height: 555px;
    padding-left: 140px;
    padding-right: 140px;
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 100 100' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 100,0 100,0.5 0,8' fill='rgb(255,255,255)' /></svg>");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .description__items {
    width: 100%;
    padding-top: 0px;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: space-between;
  }
  .description__items h2 {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .description__item-image {
    display: block;
    height: 300px;
    width: 280px;
  }
  .description__item-image.first {
    background-image: url('../img/trashdesktop.png');
    background-size: 106%;
    background-repeat: no-repeat;
    background-position: center 60%;
  }
  .description__item-image.second {
    background-image: url('../img/trashdesktop2.png');
    background-size: 106%;
    background-repeat: no-repeat;
    background-position: center 110%;
  }
  .description__item-image.third {
    background-image: url('../img/trashdesktop3.png');
    background-size: 106%;
    background-repeat: no-repeat;
    background-position: center 110%;
  }
  .description__item_br-mobile {
    display: none;
  }
  .description__item_br-mobile-tablet {
    display: none;
  }
  .description__item_br-mobile-desktop {
    display: block;
  }
  .description__item_br-tablet {
    display: none;
  }
  .description__item_br-desktop {
    display: block;
  }
}
