.feedback {
  position: relative;
  height: auto;
  background-color: #ffffff;
}
.feedback__content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.feedback__radio {
  text-align: center;
}
.feedback__radio input[type = "radio"] {
  display: none;
}
.feedback__radio input[type = "radio"] + label {
  display:inline-block;
  width:6px;
  height:6px;
  margin-right: 13px;
  vertical-align:middle;
  cursor:pointer;
  border-radius:  50%;
  background-color: #bec2c7;
}
.feedback__radio input[type = "radio"] + label:hover {
  display:inline-block;
  width:6px;
  height:6px;
  margin-right: 13px;
  vertical-align:middle;
  cursor:pointer;
  border-radius:  50%;
  background-color: #7e868f;
  transition: color 0.3ms;
}
.feedback__radio input[type = "radio"] + label:active {
  display:inline-block;
  width:6px;
  height:6px;
  margin-right: 13px;
  vertical-align:middle;
  cursor:pointer;
  border-radius:  50%;
  background-color: #e9ebec;
  transition: color 0.3ms;
}
.feedback__radio input[type = "radio"]:checked +label {
  display:inline-block;
  width:6px;
  height:6px;
  margin-right: 13px;
  vertical-align:middle;
  cursor:pointer;
  border: 3px solid #283645;
  border-radius: 50%;
  background-color: transparent;
}
.feedback__content {
  overflow: hidden;
}
.feedback__user_info, .feedback__user_name {
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media(min-width: $media-mobile) {
  .feedback {
    height: 350px;
    padding-top: 50px;
    box-sizing: border-box;
  }
  .feedback__user_info {
    display: none;
    order: 2;
  }
  .feedback__content {
    order: 3;
    margin-bottom: 42px;
    padding-left: 20px;
    padding-right: 20px;
    height: 170px;
  }
  .feedback__user_name {
    order: 0;
    margin-bottom: 30px;
  }
  .feddback__button {
    display: none;
  }
}
@media(min-width: $media-tablet) {
  .feedback {
    height: 350px;
    padding-top: 105px;
    box-sizing: border-box;
  }
  .feedback__user_info {
    display: block;
    order: 3;
  }
  .feedback__content {
    order: 1;
    padding-left: 40px;
    padding-right: 40px;
    height: 175px;
  }
  .feedbak__content.text {
    height: 70px;
    overflow: hidden;
  }
  .feedback__user_name {
    order: 2;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .feddback__button {
    display: none;
    border: none;
    outline: none;
  }
}
@media(min-width: $media-desktop) {
  .feedback__quotes {
    display: none;
  }
  .feedback {
    height: 415px;
    padding-top: 195px;
    box-sizing: border-box;
    background-image: url('../img/quotes.svg');
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center 72px;
  }
  .feedback__user_info {
    display: block;
    order: 3;
  }
  .feedback__content {
    order: 1;
    padding-left: 260px;
    padding-right: 260px;
    height: 160px;
  }
  .feedbak__content.text {
    height: auto;
  }
  .feedback__user_name {
    order: 2;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .feedback__radio input[type = "radio"] + label {
    display: none;
  }
  .feedback__radio input[type = "radio"]:checked +label {
    display: none;
  }
  .feddback__button {
    display: block;
    position: absolute;
    top:50%;
    background: none;
    color: #c2c6ca;
    border: none;
    outline: none;
  }
  .feddback__button:hover {
    color: #7e868f;
    transition: color 0.3s;
  }
  .feddback__button:active {
    color: #e9ebec;
    transition: color 0.3s;
  }
  .feddback__button.left {
    left: 130px;
  }
  .feddback__button.right {
    right: 130px;
  }
}
