//PRICES
.prices__table-row_item span {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
.prices__sticker {
  font-size: 14px;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1;
  text-align: center;
}
//POST
.post__buttons {
  button {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 1;
  }
}
@media(min-width: $media-mobile) {
  //INTRODUCTION
  .introduction__load-app button {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 1;
  }
  .introduction__available {
    font-size: 14px;
    font-weight: 300;
    font-family: "Open Sans";
    line-height: 1.714;
  }
  .introduction__top-menu nav {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 1.778;
    text-transform: uppercase;
  }
  //SLOGAN
  .slogan p {
    font-size: 24px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1.2;
  }
  //DESCRIPTION
  .description__items h2 {
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 1.333;
  }
  .description__items p {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1.6;
  }
  //FEEDBACK
  .feedback__user_name {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight:  bold;
    line-height: 1.3;
  }
  .feedback__content {
    font-size: 12px;
    font-family: "Open Sans";
    font-weight:  300;
    line-height: 2;
  }
  //PRICES
  .prices__table-row_item p {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
  }
  .prices__table-row_item {
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
  }
  //CONTACT
  .contact p {
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1.3;
  }
  .contact__way-item p {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 1;
  }
  .contact__way-item a {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1.3;
  }
  .contact__way-item p {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 1;
  }
  .contact__way-item a {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1;
  }
  //FOOTER
  .main-footer p {
    font-size: 10px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1;
  }
  //*** PHOTO PAGE ***//
  .introduction-photo h2 {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1.3;
  }
  //CALL
  .call {
    font-size: 10px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 2;
  }
  //PHOTO
  .photo__top-stiker {
    font-size: 10px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
  }
  .photo__top-text_title h2,.photo__list h2 { //АННА
    font-size: 10px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 1;
  }
  .photo__top-text_title span, .photo__list span { //5 минут назад
    font-size: 9px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
  }
  .photo__top-text_content, .photo__list p { // Прыгать или нет
    font-size: 10px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1.6;
  }
  .photo__like button { //Нравится
    font-size: 9px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
  }
}
@media(min-width: $media-tablet) {
  //INTRODUCTION
  .introduction__load-app button {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 1;
  }
  .introduction__available {
    font-size: 18px;
    font-weight: 300;
    font-family: "Open Sans";
    line-height: 1.333;
  }
  .introduction__slogan {
    font-size: 40px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1.2;

  }
  .introduction__top-menu nav {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 1.778;
    text-transform: uppercase;
  }
  //SLOGAN
  .slogan p {
    font-size: 40px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1.2;
  }
  //DESCRIPTION
  .description__items h2 {
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 1.333;
  }
  .description__items p {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1.6;
  }
  //N-OTE
  .note {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1.7;
  }
  .note h2 {
    font-size: 24px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 1.3;
  }
  //FEEDBACK
  .feedback__user_name {
    font-size: 16px;
    font-family: "Open Sans";
    font-weight:  bold;
    line-height: 1.3;
  }
  .feedback__user_info {
    font-size: 12px;
    font-family: "Open Sans";
    font-weight:  300;
    line-height: 1.3;
  }
  .feedback__content {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight:  300;
    line-height: 1.6;
  }
  //PRICES
  .prices__table-row_item p {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
  }
  .prices__table-row_item {
    font-size: 10px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1;
    text-transform: capitalize;
  }
  //CONTACT
  .contact p {
    font-size: 30px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1.3;
  }
  .contact__way-item p {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 1;
  }
  .contact__way-item a {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1.3;
  }
  //FOOTER
  .main-footer p {
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1;
  }
  //*** PHOTO PAGE ***//
  .introduction-photo h2 {
    font-size: 38px;
  }
  //CALL
  .call {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 2;
  }
}
@media(min-width: $media-desktop) {
  //INTRODUCTION
  .introduction__load-app button {
    font-size: 21px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 0.857;
  }
  .introduction__available {
    font-size: 18px;
    font-weight: 300;
    font-family: "Open Sans";
    line-height: 1.333;
  }
  .introduction__slogan {
    font-size: 50px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1.2;
  }
  .introduction__top-menu nav {
    font-size: 14px;
    font-weight: 300;
    font-family: "Open Sans";
    line-height: 1;
    text-transform: capitalize;
  }
  //SLOGAN
  .slogan p {
    font-size: 50px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1.2;
  }
  //DESCRIPTION
  .description__items h2 {
    font-size: 22px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 1;
  }
  .description__items p {
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1.6;
  }
  //N-OTE
  .note {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1.7;
  }
  //FEEDBACK
  .feedback__user_name {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight:  bold;
    line-height: 1.3;
  }
  .feedback__user_info {
    font-size: 16px;
    font-family: "Open Sans";
    font-weight:  300;
    line-height: 1.3;
  }
  .feedback__content {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight:  300;
    line-height: 1.6;
  }
  //PRICES
  .prices__table-row_item p {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
  }
  .prices__table-row_item {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1;
    text-transform: capitalize;
  }
  //CONTACT
  .contact p {
    font-size: 38px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1.3;
  }
  .contact__way-item p {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 1;
  }
  .contact__way-item a {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1.3;
  }
  //FOOTER
  .main-footer p {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1;
  }
  //CALL
  .call {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 2;
  }
}
