.main-footer {
  position: relative;
  background: #ffffff;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}
.social-btn {
  display: inline-block;
  padding-top: 13px;
  width: 50px;
  height: 50px;
  border: 3px solid #e9ebec;
  color: #d22856;
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
}
.social-btn:hover {
  border-color: #000;
  transition: border-color 0.3s;
}
.social-btn:active {
  color: rgba(210, 40, 86, 0.5);
  border-color: rgba(233,233,233,0.6);
  transition: color 0.3s, border-color 0.3s;
}
.social-btn.social-btn-video {
  padding-left: 3px;
}
.main-footer p {
  position: absolute;
}
@media(min-width: $media-mobile) {
  .main-footer {
    display: block;
    height: 290px;
    padding-top: 120px;
    background-image: url('../img/logo-footer-tablet.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center 40px;
  }
  .main-footer p {
    top: 220px;
    right: 37%;
  }
}
@media(min-width: $media-tablet) {
  .main-footer {
    display: block;
    height: 127px;
    padding-top: 40px;
    background-image: url('../img/logo-footer-tablet.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 6.25% 42%;
  }
  .main-footer p {
    top: 55px;
    right: 40px;
  }
}
@media(min-width: $media-desktop) {
  .main-footer {
    height: 200px;
    padding-top: 75px;
    background-image: url('../img/logo-footer-desktop.svg');
    background-position: 10.8% 42%;
  }
  .main-footer p {
    top:90px;
    right: 130px;
  }
}
