.forms {
  display: flex;
  justify-content: center;
}
.forms__name {
  width: 100%;
  background-color: red;
}
.forms__events {
  width: 100%;
  background-color: orange;
}
.forms__contacts {
  width: 100%;
  background-color: yellow;
}
.forms__type {
  width: 100%;
  background-color: green;
}
.forms__comment {
  width: 100%;
  background-color: cyan;
}
.forms__post {
  width: 100%;
  background-color: violet;
}
.forms__events-items {
  display: flex;
  flex-wrap: wrap;
}
.forms__events h2 {
  padding-left: 5px;
  padding-right: 5px;
  background-color: green;
}
//CONTACTS
.forms__contacts-items {
  display: flex;
  flex-wrap: wrap;
}
.forms__contacts h2 {
  padding-left: 5px;
  padding-right: 5px;
  background-color: green;
}
//FORM TYPES
.forms__type h2 {
  padding-left: 5px;
  padding-right: 5px;
  background-color: green;
}
//FORM COMMENT
.forms__comment {
  padding: 10px;
}
.forms__comment textarea {
  width: 80%;
  border: 2px solid #000;
}
.forms__comment h2 {
  padding-left: 5px;
  padding-right: 5px;
  background-color: green;
}
//FORM POST
.forms__post span {
  color: red;
}

@media(min-width: $media-mobile) {
  .forms {
    flex-direction: column;
  }
  .forms__name {
    width: 100%;
    order: 1;
  }
  .forms__events {
    width: 100%;
    order: 2;
  }
  .forms__contacts {
    width: 100%;
    order: 3;
  }
  .forms__type {
    width: 100%;
    order: 4;
  }
  .forms__comment {
    width: 100%;
    order: 5;
  }
  .forms__post {
    width: 100%;
    order: 6;
  }
  .forms__events-items {
    flex-direction: column;
  }
  //CONTACTS
  .forms__contacts-items {
    flex-direction: column;
  }
}
@media(min-width: $media-tablet) {
  .forms {
    flex-direction: column;
  }
  .forms__name {
    width: 100%;
    order: 1;
  }
  .forms__events {
    width: 100%;
    order: 4;
  }
  .forms__contacts {
    width: 100%;
    order: 3;
  }
  .forms__type {
    width: 100%;
    order: 2;
  }
  .forms__comment {
    width: 100%;
    order: 5;
  }
  .forms__post {
    width: 100%;
    order: 6;
  }
  .forms__name-br {
    display: none;
  }
  .forms__events-items {
    flex-direction: column;
    border: 2px solid #000;
  }
  .forms__events {
    position: relative;
  }
  .forms__events h2 {
    display: block;
    position: absolute;
    top:-5px;
    left: 50%;
    z-index: 1;
  }
  //CONTACTS
  .forms__contacts-text {
    display: none;
  }
  .forms__contacts-items {
    flex-direction: column;
  }
  .forms__contacts-items p:nth-child(1) {
    order: 2;
  }
  .forms__contacts-items p:nth-child(3) {
    order: 4;
  }
  .forms__contacts-items input:nth-child(4) {
    order: 3;
  }
  .forms__contacts-items input:nth-child(2) {
    order: 1;
  }
  .forms__contacts {
    position: relative;
    border: 2px solid #000;
  }
  .forms__contacts h2 {
    display: block;
    position: absolute;
    top:-5px;
    left: 50%;
    z-index: 1;
  }
  //FORM TYPE
  .forms__type-br {
    display: none;
  }
  .forms__type {
    position: relative;
    border: 2px solid #000;
  }
  .forms__type h2 {
    display: block;
    position: absolute;
    top:-5px;
    left: 50%;
    z-index: 1;
  }
  //FORM COMMENT
  .forms__comment {
    position: relative;
    border: 2px solid #000;
  }
  .forms__comment h2 {
    display: block;
    position: absolute;
    top:-5px;
    left: 50%;
    z-index: 1;
  }
  //FORMS POST
  .forms__post p {
    float: right;
  }
}
@media(min-width: $media-desktop) {
  .forms {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .forms__name {
    width: 40%;
    order: 1;
  }
  .forms__events {
    width: 100%;
    order: 4;
  }
  .forms__contacts {
    width: 100%;
    order: 3;
  }
  .forms__type {
    width: 40%;
    order: 2;
  }
  .forms__comment {
    width: 100%;
    order: 5;
  }
  .forms__post {
    width: 100%;
    order: 6;
  }
  .forms__name-br {
    display: none;
  }
  .forms__events-items {
    flex-direction: row;
    border: 2px solid #000;
    position: relative;
  }
  .forms__events {
    position: relative;
  }
  .forms__events h2 {
    display: block;
    position: absolute;
    top:-5px;
    left: 50%;
    z-index: 1;
  }
  .forms__events-items div {
    width: 30%;
  }
  .forms__events-items div:nth-child(1) {
    order: 1;
  }
  .forms__events-items div:nth-child(2) {
    order: 4;
  }
  .forms__events-items div:nth-child(3) {
    order: 2;
  }
  .forms__events-items div:nth-child(4) {
    order: 5;
  }
  .forms__events-items div:nth-child(5) {
    order: 3;
  }
  .forms__events-items div:nth-child(6) {
    order: 6;
  }
  //CONTACTS
  .forms__contacts-text {
    display: none;
  }
  .forms__contacts-items {
    flex-direction: row;
  }
  .forms__contacts-items p:nth-child(1) {
    order: 3;
  }
  .forms__contacts-items p:nth-child(3) {
    order: 4;
  }
  .forms__contacts-items input:nth-child(4) {
    order: 2;
  }
  .forms__contacts-items input:nth-child(2) {
    order: 1;
  }
  .forms__contacts-items p, input {
    width: 40%;
  }
  .forms__contacts {
    position: relative;
    border: 2px solid #000;
  }
  .forms__contacts h2 {
    display: block;
    position: absolute;
    top:-5px;
    left: 50%;
    z-index: 1;
  }
  //FORM TYPE
  .forms__type-br {
    display: none;
  }
  .forms__type {
    position: relative;
    border: 2px solid #000;
  }
  .forms__type h2 {
    display: block;
    position: absolute;
    top:-5px;
    left: 10%;
    z-index: 1;
  }
  //FORM COMMENT
  .forms__comment {
    position: relative;
    border: 2px solid #000;
  }
  .forms__comment h2 {
    display: block;
    position: absolute;
    top:-5px;
    left: 10%;
    z-index: 1;
  }
  //FORMS POST
  .forms__post p {
    float: right;
  }
}
