.content {
  margin-left: auto;
  margin-right: auto;
}
.clearfix:after {
  display: table;
  content: '';
  clear: both;
}

@media(min-width: $media-mobile) {
  .content {
    width: $media-mobile;
  }
}
@media(min-width: $media-tablet) {
  .content {
    width: $media-tablet;
  }
}
@media(min-width: $media-desktop) {
  .content {
    width: $media-desktop;
  }
}
