.introduction-photo h2 {
  text-align: center;
  color: #ffffff;
}
@media(min-width: $media-mobile) {
  .introduction-photo {
    height: 237px;
    background-image: url('../img/background.jpg');
    background-size: 240% 230%;
    background-repeat:  no-repeat;
    background-position: center 0;
  }
  .introduction-photo h2 {
    margin-top: 36px;
  }
}
@media(min-width: $media-tablet) {
  .introduction-photo {
    height: 440px;
    background-size:170%;
    background-position: center 0;
  }
  .introduction-photo h2 {
    margin-top: 82px;
  }
}
@media(min-width: $media-desktop) {
  .introduction-photo {
    height: 392px;
    background-size: 210%;
    background-position: center 40%;
  }
  .introduction-photo h2 {
    margin-top: 77px;
  }
}
