.introduction__top-menu {
  position: relative;
  background-color: rgba(0, 1, 1, 0.2);
}
.introduction__top-menu li {
  display: block;
  float: left;
  text-align: center;
  list-style: none;
}
.introduction__top-menu a {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.introduction__top-menu_button {
  display: block;
  width: 54px;
  height: 30px;
  color: #ffffff;
  background: none;
  border: none;
  outline: none;
}
.introduction__top-menu_button:hover {
  color: rgb(210, 40, 86);
  transition: color 0.3s;
}
.introduction__top-menu_button:active {
  color: rgba(210, 40, 86, 0.6);
  transition: color 0.3s;
}
.introduction__top-menu_button:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "\E3C7";
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 48px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
}
.introduction__top-menu i {
  margin-left: -10px;
}
.introduction__load-app {
  max-width: 320px;
  background-color: orange;
  text-align: center;
}
.introduction__top-menu_nav {
  background-color: rgba(0, 1, 1, 0.2);
  animation: bounce 0.5s;
}
.introduction__load-app button {
  height: 50px;
  background: none;
  border: #ffffff 3px solid;
  color: #ffffff;
  text-align: center;
  border-radius: 28px;
  outline: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.introduction__load-app button:hover {
  background-color: #ffffff;
  color: rgb(210, 40, 86);
  transition: color 0.3s, background-color 300ms linear;
}
.introduction__load-app button:active {
  background-color: #ffffff;
  color: rgba(210, 40, 86, 0.4);
  transition: color 0.3s;
}
.introduction__available {
  color: #ffffff;
}
.introduction__smartphones {
  display: flex;
  padding-left: 57px;
  padding-right: 57px;
  flex-direction: row;
  white-space: nowrap;
  justify-content: space-between;
}
.introduction__smartphones-ios {
  display: block;
}
.introduction__smartphones-droid {
  display: block;
  margin-top: -2px;
}
.introduction__smartphones-windows {
  display: block;
  margin-top: 5px;
}

@media(min-width: $media-mobile) {
  .introduction {
    position: relative;
    height: 730px;
    background-image: url('../img/handmobile.png'), url('../img/background.jpg');
    background-size: 150%, 240%;
    background-repeat: no-repeat, no-repeat;
    background-position: 86% 35%, top center;
  }
  .introduction__top-menu {
    position: relative;
    height: 66px;
    background-image: url('../img/logo-mobile.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 6.25% 50%;
  }
  //MENU APPEAR
  .introduction__top-menu_active {
    background-color:#283645;
  }
  .introduction__top-menu_nav {
    display: none;
  }
  .introduction__top-menu_nav_active {
    display: block;
    width: 100%;
    height: 70px;
    position: absolute;
    right: 0;
    top: 66px;
  }
  .introduction__top-menu_nav:before {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #000000;
  }
  .introduction__top-menu li {
    width: 100%;
    background-color:#283645;
    text-align: center;
  }
  .introduction__top-menu li:before {
    display: block;
    content: "";
    width: 100%;
    height: 1.5px;
    background-color: #495461;
  }
  .introduction__top-menu li:after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #000000;
  }
  .introduction__top-menu a {
    display: inline-block;
    height: 62px;
    padding-top: 20px;
    color: #ffffff;
    text-decoration: none;
    box-sizing: border-box;
  }
  .introduction__top-menu_button_active:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "\E14C";
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    display: inline-block;
    line-height: 1;
  }
  //END MENU APPEAR
  .introduction__top-menu_button {
    position: absolute;
    top:10px;
    right:5px;
    outline: none;
  }
  .introduction__load-app {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-top: 28px;
    padding-bottom: 37px;
    background-color: #1d2631;
  }
  .introduction__smartphones {
    padding-top: 32px;
  }
  .introduction__available {
    padding-top: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .introduction__load-app button {
    width: 275px;
    outline: none;
  }
  .introduction__slogan {
    display: none;
  }
  .introduction__top-menu a:hover {
    color: rgb(210, 40, 86);
    transition: color 0.3s;
  }
  .introduction__top-menu a:active {
    color: rgba(210, 40, 86, 0.6);
    transition: color 0.3s;
  }
}
@media(min-width:  $media-tablet) {
  .introduction {
    height: 730px;
    background-size:105%, auto;
    background-position: 0% 100%, center;
  }
  .introduction__top-menu {
    height: 110px;
    background-image:url('../img/logo-tablet.svg');
    background-position: 6.25% 42%;
  }
  //MENU DISAPPEAR
  .introduction__top-menu_nav {
    display: none;
  }
  .introduction__top-menu_nav_active {
    display: block;
    width: 100%;
    position: absolute;
    right: 0;
    top: 110px;
  }
  //END MENU DISAPPEAR
  .introduction__top-menu_button {
    position: absolute;
    top:35px;
    right:26px;
    outline: none;
  }
  .introduction__load-app {
    position: static;
    padding-top: 103px;
    padding-left: 40px;
    padding-right: 40px;
    float: left;
    background:none;
  }
  .introduction__load-app button {
    width: 295px;
    outline: none;
  }
  .introduction__smartphones {
    padding-top: 44px;
  }
  .introduction__available {
    padding-top: 40px;
  }
  .introduction__slogan {
    display: block;
    margin-bottom: 40px;
    color: #ffffff;
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media(min-width: $media-desktop) {
  .introduction {
    height: 852px;
    background-size: 70%, 200%;
    background-position: 75% bottom, 50% 70%;
  }
  .introduction__top-menu {
    height: 110px;
    padding-top: 47px;
    padding-right: 130px;
    background-color: rgba(0, 1, 1, 0.2);
    background-image: url('../img/logo-desktop.svg');
    background-position: 10.8% 42%;
    box-sizing: border-box;
  }
  .introduction__top-menu_button {
    display: none;
  }
  .introduction__top-menu_nav {
    display: inline-block;
    height: auto;
    width: auto;
    position: static;
    float: right;
    background: none;
    animation: none;
  }
  .introduction__top-menu_nav:before {
    display: none;
  }
  .introduction__top-menu li {
    width: auto;
    background: none;
    max-width: 250px;
  }
  .introduction__top-menu li:before {
    display: none;
  }
  .introduction__top-menu li:after {
    display: none;
  }
  .introduction__top-menu a {
    display: inline;
    position: relative;
    margin-left: 82px;
    color: #ffffff;
    text-decoration: none;
  }
  .introduction__top-menu a:hover {
    color: #ffffff;
  }
  .introduction__top-menu a:hover:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0px;
    right: 0px;
    border-bottom: 2px solid #ffffff;
    transition: border 0.3s;
  }
  .introduction__top-menu a:active {
    color: #6e757e;
    transition: color 0.3s;
  }
  .introduction__top-menu a:active:after {
    display: none;
  }
  .introduction__top-menu br {
    display: none;
  }
  .introduction__load-app {
    position: static;
    padding-top: 120px;
    padding-left: 130px;
    padding-right: 130px;
    float: left;
    background:none;
  }
  .introduction__smartphones {
    padding-top: 64px;
  }
  .introduction__available {
    padding-top: 60px;
  }
  .introduction__load-app button {
    width: 295px;
    outline: none;
  }
  .introduction__slogan {
    margin-bottom: 64px;
    display: block;
    max-height: 250px;
    color: #ffffff;
  }
  .introduction__form-br {
    display: none;
  }
}
//ANIMATIONS
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
