.map {
  width: 100%;
}
.map iframe {
  width: 100%;
}
@media(min-width: $media-mobile) {
  .map {
    height: 200px;
  }
  .map iframe {
    height: 200px;
  }
}
@media(min-width: $media-tablet) {
  .map {
    height: 380px;
  }
  .map iframe {
    height: 380px;
  }
}
@media(min-width: $media-desktop) {
  .map {
    height: 500px;
  }
  .map iframe {
    height: 500px;
  }
}
