@media(min-width: $media-mobile) {
  .note {
    display: none;
  }
}
@media(min-width: $media-tablet) {
  .note {
    display: block;
    height: 335px;
    padding-left: 350px;
    padding-top: 100px;
    background-color: #ffffff;
    background-image:url('../img/24h.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 40px bottom;
    box-sizing: border-box;
    overflow: hidden;
  }
  .note h2 {
    margin-bottom: 15px;
    white-space: nowrap;    
    text-overflow: ellipsis;
  }
  .note a {
    display: block;
    color: #d22856;
    margin-top: 12px;
  }
  .note a:hover {
    color: #000;
    text-decoration: underline;
    transition: color 0.3s;
  }
  .note a:active {
    color: #ced0d2;
    text-decoration: none;
    transition: color 0.3s;
  }
  .note__desktop_br {
    display: none;
  }
}
@media(min-width: $media-desktop) {
  .note {
    display: block;
    height: 475px;
    padding-left: 500px;
    padding-top: 160px;
    background-color: #f2f2f2;
    background-image:url('../img/24h.svg');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 130px 66px;
    box-sizing: border-box;
  }
  .note h2 {
    margin-bottom: 25px;
  }
  .note a {
    display: block;
    color: #d22856;
    margin-top: 34px;
  }
  .note__tablet_br {
    display: none;
  }
  .note__desktop_br {
    display: block;
  }
}
