.photo {
  background-color: #ffffff;
}
.photo h2 {
  display: inline;
}
.photo img {
  width: 100%;
}
.photo__top {
  position: relative;
  background-color: #ffffff;
}
.photo__top-stiker {
  width: 140px;
  height: 35px;
  padding-top: 12px;
  position: absolute;
  text-align: center;
  color: #ffffff;
  background-color: #d22856;
  box-sizing: border-box;
  overflow: hidden;
}
.photo__top-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f2f2f2;
}
.photo__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.photo__list_item {
  background-color: #f2f2f2;
}
.photo__top-text_title {
  overflow: hidden;
}
.photo__top-text_title h2, .photo__list h2 { //АННА
  color: #000;
  white-space: nowrap;
}
.photo__top-text_title span, .photo__list span { //5 минут назад
  color: #b4b6ba;
  white-space: nowrap;
}
.photo__top-text_content, .photo__list p { // Прыгать или нет
  color: #000;
}
.photo__like {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.photo__like.photo__top-text_like {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.photo__like i {
  font-weight: bold;
  color: #d6416a;
}
.photo__like button { //Нравится
  vertical-align: top;
  background-color: transparent;
  color: #d6416a;
  border: none;
  outline: none;
  white-space: nowrap;
}
.photo__like button:hover {
  color: #000;
  transition: color 0.3s;
}
.photo__like button:active {
  color: #ced0d2;
  text-decoration: none;
  transition: color 0.3s;
}

.photo__like span { //215
  display: inline-block;
  color: #d6416a;
  vertical-align: top;
}
@media(min-width: $media-mobile) {
  .photo__top {
    margin-bottom: 20px;
  }
  .photo__top_image {
    width: 100%;
    height: 137px;
    overflow: hidden;
  }
  .photo__top_image img {
    width:320px;
    height:140px;
    margin-top: 0;
    margin-left: 0;
  }
  .photo__list {
    padding-left: 20px;
    padding-right: 20px;
  }
  .photo__list_item {
    width: 280px;
    height: 325px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  .photo__list_item:nth-child(6) {
    margin-bottom: 0;
  }
  .photo__list_image {
    width: 100%;
    height: 180px;
    overflow: hidden;
  }
  .photo__list_image img {
    width:300px;
    height:400px;
    margin-top: -40%;
    margin-left: 0;
  }
  .photo__top-stiker {
    top: 0;
    right: 20px;
  }
  .photo__top-text_title {
    width: 100%;
    order: 1;
  }
  .photo__top-text_content {
    width: 100%;
    order: 2;
  }
  .photo__top-text_like {
    width: 100%;
    order: 3;
  }
  .photo__top-text {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .photo__top-text_title {
    display: inline-block;
    margin-bottom: 15px;
  }
  .photo__top-text_like {
    display: inline-block;
    margin-bottom: 25px;
  }
  .photo__top-text_content {
    margin-bottom: 20px;
  }
  .photo__like button {
    order: 2;
    outline: none;
  }
  .photo__like i {
    order: 1;
  }
  .photo__like.photo__top-text_like button {
    order: 2;
    outline: none;
  }
  .photo__like.photo__top-text_like i{
    order: 1;
  }
  .photo__like.photo__top-text_like {
    justify-content: flex-start;
  }
  //PHOTO LIST INNER TEXT POSITION
  .photo__list {
    h2 {
      display: inline-block;
      margin-left: 20px;
      margin-top: 25px;
    }
    p {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 12px;
      height: 45px;
    }
    .photo__like {
      justify-content: flex-start;
      margin-left: 20px;
      margin-top: 17px;
      height: auto;
    }
  }
}
@media(min-width: $media-tablet) {
  .photo__top_image {
    width: 100%;
    height: 510px;
    overflow: hidden;
  }
  .photo__top_image img {
    width:1200px;
    height:510px;
    margin-top: 0;
    margin-left: -250px;
  }
  .photo__top {
    margin-bottom: 50px;
  }
  .photo__top-stiker {
    top: 55px;
    right: 40px;
  }
  .photo__top img {
    height: 509px;
  }
  .photo__list {
    padding-left: 40px;
    padding-right: 40px;
  }
  .photo__list_item {
    width: 300px;
    height: 455px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  .photo__list_item:nth-child(5),
  .photo__list_item:nth-child(6) {
    margin-bottom: 0;
  }
  .photo__list_image {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  .photo__list_image img {
    width:300px;
    height:400px;
    margin-top: -15%;
    margin-left: 0;
  }
  .photo__like:before {
    display: none;
  }
  .photo__top-text_title {
    width: 30%;
    order: 1;
  }
  .photo__top-text_content {
    width: 100%;
    order: 3;
  }
  .photo__top-text_like {
    width: 30%;
    order: 2;
  }
  .photo__top-text {
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .photo__top-text_title,.photo__top-text_like {
    display: inline-block;
    margin-bottom: 15px;
  }
  .photo__top-text_content {
    margin-bottom: 30px;
  }
  .photo__like button {
    order: 1;
    outline: none;
  }
  .photo__like i {
    order: 2;
  }
  .photo__like.photo__top-text_like button {
    order: 1;
    outline: none;
  }
  .photo__like.photo__top-text_like i{
    order: 2;
  }
  .photo__like.photo__top-text_like {
    justify-content: flex-end;
    margin-top: -3px;
  }
  //PHOTO LIST INNER TEXT POSITION
  .photo__list {
    h2 {
      display: inline-block;
      margin-left: 30px;
      margin-top: 30px;
    }
    p {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 14px;
      height: 45px;
    }
    .photo__like {
      justify-content: space-between;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 20px;
      height: auto;
      button {
        text-align: left;
        padding-left:0;
        outline: none;
      }
    }
  }
}
@media(min-width: $media-desktop) {
  .photo__top_image {
    width: 100%;
    height: 506px;
    overflow: hidden;
  }
  .photo__top_image img {
    width:1200px;
    height:506px;
    margin-top: 0;
    margin-left: 0;
  }
  .photo__top-stiker {
    top: 55px;
    right: 130px;
  }
  .photo__top img {
    height: 506px;
  }
  .photo__list {
    padding-left: 130px;
    padding-right: 130px;
  }
  .photo__list_item {
    width: 300px;
    height: 555px;
    margin-bottom: 55px;
    box-sizing: border-box;
  }
  .photo__list_item:nth-child(4),
  .photo__list_item:nth-child(5),
  .photo__list_item:nth-child(6) {
    margin-bottom: 0;
  }
  .photo__list_image {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  .photo__list_image img {
    width:300px;
    height:400px;
    margin-top: 0;
    margin-left: 0;
  }
  .photo__like:before {
    display: none;
  }
  .photo__top-text_title {
    order: 1;
  }
  .photo__top-text_content {
    order: 3;
  }
  .photo__top-text_like {
    order: 2;
  }
  .photo__top-text {
    margin-left: 130px;
    margin-right: 130px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .photo__top-text_title,.photo__top-text_like {
    display: inline-block;
    margin-bottom: 15px;
  }
  //PHOTO LIST INNER TEXT POSITION
  .photo__list {
    h2 {
      display: inline-block;
      margin-left: 30px;
      margin-top: 30px;
    }
    p {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 14px;
      height: 40px;
    }
    .photo__like {
      justify-content: space-between;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 25px;
      height: auto;
    }
  }
}
