.post {
  background-color: #f2f2f2;
}
.post img {
  background-color: #93a4bf;
}
.post__sliders button {
  position: relative;
  display: block;
  background: none;
  color: #b5b9be;
  border: none;
  width: 45px;
  height: 45px;
  outline: none;
}
.post__sliders button:hover {
  color: #8d949b;
  transition: color 0.3ms;
}
.post__sliders button:active {
  color: #d22856;
  transition: color 0.3ms;
}
.post__sliders_crop.active,
.post__sliders_fill.active,
.post__sliders_adjust.active,
 {
  color: #d22856;
}
.post__sliders_crop.active:hover,
.post__sliders_fill.active:hover,
.post__sliders_adjust.active:hover,
{
  color: #d22856;
}
.post__sliders_crop::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "\E3BE";
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 44px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
}
.post__sliders_fill::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "\E23A";
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 44px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
}
.post__sliders_adjust::after {
  position: absolute;
  top: 10%;
  left: 15%;
  content:"\f042";
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  font-size: 35px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
}
//SLIDER
.post__sliders-item {
  position: relative;
  padding-top: 35px;
  box-sizing: border-box;
  .post__sliders-item_bar {
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    content: "";
    height: 2px;
    width: auto;
    background-color: #283645;
    .post__sliders-item_toggle {
      position: absolute;
      top: -300%;
      content: "";
      height: 10px;
      width: 10px;
      border: 2px solid #d22856;
      border-radius: 50%;
      background-color: #f2f2f2;
    }
    .post__sliders-item_toggle:active {
      background-color: #d22856;
      transition: color 0.3ms;
    }
  }
}
//END SLIDER
.post__buttons {
  button {
    width: 274px;
    height: 49px;
    border: 3px solid;
    border-radius: 27.5px;
    background: none;
    color: #d22856;
    outline: none;
    overflow: hidden;
  }
  button:hover {
    color: #ffffff;
    background-color: #d22856;
    border-color:#d22856;
    transition: color 0.3s, background-color 300ms linear, border-color 300ms linear;
  }
  button:active {
    color:rgba(255, 255, 255, 0.4);
    transition: color 0.3s;
  }
  .hidden {
    background-color: transparent;
    color: #dddfe0;
  }
  .hidden:hover {
    background-color: transparent;
    border-color:#b5b9be;
    color: #c4c6c8;
    transition: color 0.3s, border-color 300ms linear;
  }
  .hidden:active {
    background-color: #b5b9be;
    color: #cdd0d3;
    transition: color 0.3s, background-color 300ms linear;
  }
}
@media(min-width: $media-mobile) {
  .post {
    padding-top: 20px;
    text-align: center;
  }
  .post img {
    width: 280px;
    height: 375px;
  }
  .post__controls {
    width: 100%;
  }
  .post__buttons {
    display: flex;
    flex-direction: column;
    padding-top: 38px;
    padding-left: 6.7%;
    padding-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
  }
  .post__buttons button {
    margin-bottom: 12px;
    outline: none;
  }
  .post__sliders {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 42px;
    padding-left: 38px;
    padding-right: 44px;

  }
  .post__sliders-item {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #dddfe0;
    .post__sliders-item_bar {
      .post__sliders-item_toggle {
        left: 168px;
      }
    }
  }
  .post__sliders-item.mobile{
    display: none;
  }
}
@media(min-width: $media-tablet) {
  .post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 57px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
  }
  .post img {
    width: 300px;
    height: 400px;
  }
  .post__controls {
    margin-top: -15px;
    margin-left: 47px;
  }
  .post__buttons {
    padding-top: 67px;
    padding-left: 0;
    width: auto;
  }
  .post__buttons button {
    margin-bottom: 24px;
    outline: none;
  }
  .post__sliders {
    display: none;
  }
  .post__sliders-item {
    position: relative;
    height: 74px;
    padding-top: 37px;
    box-sizing: border-box;
    .post__sliders-item_bar {
      margin-left: 55px;
      margin-right: 18px;
      .post__sliders-item_toggle {
        left: 140px;
      }
    }
  }

  .post__sliders-item.mobile{
    display: block;
  }
  .post__sliders-item.crop::after {
    position: absolute;
    top: 35%;
    left: 1%;
    content: "\E3BE";
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 22px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    color: #d22856;
  }
  .post__sliders-item.fill::after {
    position: absolute;
    top: 35%;
    left: 1%;
    content: "\E23A";
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 22px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    color: #d22856;
  }
  .post__sliders-item.adjust::after {
    position: absolute;
    top: 40% ;
    left: 2%;
    content:"\f042";
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    font-size: 17.5px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    color: #d22856;
  }
  .post__buttons {
    button {
      width: 256px;
      outline: none;
    }
  }
}
@media(min-width: $media-desktop) {
  .post {
    margin-left: 130px;
    margin-right: 130px;
    padding-left: 80px;
    padding-right: 60px;
  }
  .post img {
    width: 300px;
    height: 400px;
  }
  .post__buttons {
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    padding-top: 146px;
  }
  .post__controls {
    margin-top: -15px;
    margin-left: 80px;
  }
  .post__sliders-item {
    height: 74px;
    .post__sliders-item_bar {
      .post__sliders-item_toggle {
        left: 243px;
      }
    }
  }
  .post__sliders-item.mobile {
    display: block;
  }
  .post__sliders-item.crop::after {
    position: absolute;
    top: 20%;
    left: 1%;
    content: "\E3BE";
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 44px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    color: #d22856;
  }
  .post__sliders-item.fill::after {
    position: absolute;
    top: 20%;
    left: 1%;
    content: "\E23A";
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 44px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    color: #d22856;
  }
  .post__sliders-item.adjust::after {
    position: absolute;
    top: 25% ;
    left: 2%;
    content:"\f042";
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    font-size: 35px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    color: #d22856;
  }
  .post__buttons {
    button {
      width: 157px;
      outline: none;
    }
  }
}
