.prices__table {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.prices__table-row {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
}
.prices__table-row_item {
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  justify-content: center;
  background-color: #ffffff;
  overflow: hidden;
}
.prices__table-row_item p {
  white-space: nowrap;
}
.prices__radio {
  position: absolute;
  width: 100%;
  bottom: 47px;
}
.prices__radio input[type = "radio"] + label:hover {
  transition: color 0.3ms;
}
.prices__radio input[type = "radio"] + label:active {
  transition: color 0.3ms;
}
.prices__table-row.first {
  .prices__table-row_item {
    color: #ffffff;
    background-color: #283645;
    text-align: center;
  }
}
//STICKER (MOBILE FIRST)
.prices__table-row.first {
  .prices__table-row_item.second,
  .prices__table-row_item.third ,
  .prices__table-row_item.fourth {
    position: relative;
    overflow: hidden;
  }
}
.prices__sticker {
  display: block;
  position: absolute;
  width: 50%;
  height: 30px;
  padding-top: 6px;
  left: -14%;
  top:11%;
  color: #ffffff;
  transform: rotate(-45deg);
  background-color: #d22856;
  box-sizing: border-box;
}
//END STICKER
@media(min-width: $media-mobile) {
  .prices {
    height: 475px;
    padding-top: 90px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background-color: #f2f2f2;
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 100 100' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 100,0 0,8' fill='rgb(255,255,255)' /></svg>");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .prices__table-row_item.first {
    order: 2;
    border-right: none;
  }
  .prices__table-row.first {
    .prices__table-row_item.first {
      border: none;
    }
  }
  .prices__table-row_item.second { //"BASE COLUMN"
    width: 86%;
    order: 1;
  }
  .prices__table-row_item.third { //"STANDART COLUMN"
    order: 3;
    border-left: none;
  }
  .prices__table-row.first {
    .prices__table-row_item.third { //"STANDART CELL
      border-left: 1px solid #e5e5e5;
    }
  }
  .prices__table-row_item.fourth { //"UNLIM COLUMN
    width: 86%;
    order: 4;
  }
  .prices__table-row.second,
  .prices__table-row.third,
  .prices__table-row.fourth {
    .prices__table-row_item.first { // "DECSRIPTION ROWS"
      width: 68%;
      justify-content: flex-start;
    }
  }
  .prices__table-row.second,
  .prices__table-row.third,
  .prices__table-row.fourth {
    .prices__table-row_item.third { // "TICKS
      width: 30%;
      justify-content: flex-end;
    }
  }
  .prices__table-row.first {
    .prices__table-row_item.third { // "STANDART
      width: 98%;
    }
  }
  //HEIGHTS
  .prices__table-row.first {
    .prices__table-row_item {
      height: 98px;
    }
  }
  .prices__table-row.second,.prices__table-row.third,
  .prices__table-row.fourth {
    height: 60px;
  }
  //END HEIGHTS
  //CONTENT POSITION
  .prices__table-row.first {
    .prices__table-row_item {
      padding-top: 25px;
      box-sizing: border-box;
    }
    .prices__table-row_item span {
      display: block;
      margin-bottom: -5px;
    }
  }
  .prices__table-row_item.second {
    padding-top: 15px;
    padding-right: 20px;
    justify-content: flex-end;
    box-sizing: border-box;
  }
  .prices__table-row.first {
    .prices__table-row_item.second {
      justify-content: center;
    }
  }
  .prices__table-row.second,
  .prices__table-row.third,
  .prices__table-row.fourth {
    .prices__table-row_item.first { // "DECSRIPTION ROWS"
      padding-top: 22px;
      padding-left: 25px;
      box-sizing: border-box;
    }
  }
  .prices__table-row.second,
  .prices__table-row.third,
  .prices__table-row.fourth {
    .prices__table-row_item.third { // "TICKS
      padding-top: 15px;
      padding-right: 20px;
      box-sizing: border-box;
    }
  }
  //END CONTENT POSITION
  //BORDERS COLORS
  .prices__table-row.first {
    .prices__table-row_item {
      border-top: none;
    }
  }
  .prices__table-row.fourth {
    .prices__table-row_item {
      border-bottom: 2px solid #e5e5e5;
    }
  }
  //END BORDERS COLORS
  .prices__table {
    position: absolute;
    left:8%;
    flex-flow: column nowrap;
    justify-content: center;
  }
  .prices__table-row_item {
    border: 1px solid #e5e5e5;
  }
}
@media(min-width: $media-tablet) {
  .prices {
    height: 380px;
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 100 100' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 100,0 0,7' fill='rgb(255,255,255)' /></svg>");
  }
  .prices__table {
    position: static;
  }
  .prices__table-row_item {
    width: auto;
    margin-bottom:0;
    box-sizing: border-box;
  }
  .prices__table-row_item.first {
    order: 1;
  }
  .prices__table-row_item.second {
    order: 2;
  }
  .prices__table-row_item.third {
    order: 3;
  }
  .prices__table-row_item.fourth {
    order: 4;
  }
  .prices__table-row.first,
  .prices__table-row.second,
  .prices__table-row.third,
  .prices__table-row.fourth {
    .prices__table-row_item.first,
    .prices__table-row_item.second,
    .prices__table-row_item.third,
    .prices__table-row_item.fourth {
      width: auto;
      border: 1px solid #e5e5e5;
      margin: 0;
      flex-basis: 25%;
    }
  }
  //BORDERS
  .prices__table-row.first,
  .prices__table-row.second,
  .prices__table-row.third,
  .prices__table-row.fourth {
    .prices__table-row_item.first {
      border-left: 2px solid #e5e5e5;
    }
    .prices__table-row_item.fourth {
      border-right: 2px solid #e5e5e5;
    }
  }
  .prices__table-row.fourth {
    .prices__table-row_item.first,
    .prices__table-row_item.second,
    .prices__table-row_item.third,
    .prices__table-row_item.fourth {
      border-bottom: 2px solid #e5e5e5;
    }
  }
  .prices__table-row.first {
    .prices__table-row_item.first,
    .prices__table-row_item.second,
    .prices__table-row_item.third,
    .prices__table-row_item.fourth {
      border-top: none;
      border-bottom:none;
    }
  }
  .prices__table-row.second {
    .prices__table-row_item.second,
    .prices__table-row_item.third,
    .prices__table-row_item.fourth {
      border-top: 2px solid #283645;
    }
  }
  .prices__table-row.second {
    .prices__table-row_item.first {
      border-top: 2px solid #e5e5e5;
    }
  }
  .prices__table-row.first {
    .prices__table-row_item.first {
      border:none;
      border-right: 2px solid #283645;
      background: none;
    }
  }
  .prices__table-row.first {
    .prices__table-row_item.second {
      border-left:none;
    }
  }
  .prices__table-row.first {
    .prices__table-row_item.fourth {
      border-right: none;
    }
  }
  //END BORDERS
  //HEIGHTS
  .prices__table-row.first {
    .prices__table-row_item {
      height: 75px;
    }
  }
  .prices__table-row.second,.prices__table-row.third,
  .prices__table-row.fourth {
    height: 45px;
  }
  //END HEIGHTS
  //CONTENT POSITION
  .prices__table-row.first,
  .prices__table-row.second,
  .prices__table-row.third,
  .prices__table-row.fourth {
    justify-content: center;
    .prices__table-row_item.first,
    .prices__table-row_item.second,
    .prices__table-row_item.third,
    .prices__table-row_item.fourth {
      padding: 0;
      padding-top:9px;
      justify-content: center;
    }
  }
  .prices__table-row.first {
    .prices__table-row_item.first,
    .prices__table-row_item.second,
    .prices__table-row_item.third,
    .prices__table-row_item.fourth {
      padding-top: 22px;
    }
  }
  .prices__table-row.first,
  .prices__table-row.second,
  .prices__table-row.third,
  .prices__table-row.fourth {
    .prices__table-row_item.first {
      padding-top: 15px;
      padding-left: 15px;
      justify-content: flex-start;
    }
  }
  //END CONTENT POSITION
  .prices__control {
    display: none;
  }
  .prices__radio {
    display: none;
  }
  .prices {
    height: 380px;
    padding-left: 40px;
    padding-right: 40px;
  }
  //STICKER
  .prices__sticker {
    width: 80%;
    height: 30px;
    padding-top: 6px;
    left: -25%;
    top:11%;
    color: #ffffff;
  }
  //END STICKER
}
@media(min-width: $media-desktop) {
  .prices {
    height: 525px;
    padding-top: 150px;
    padding-left: 128px;
    padding-right: 130px;
  }
  //HEIGHTS
  .prices__table-row.first {
    .prices__table-row_item {
      height: 95px;
    }
  }
  .prices__table-row.second,.prices__table-row.third,
  .prices__table-row.fourth {
    height: 60px;
  }
  //END HEIGHTS
  //CONTENT POSITION
  .prices__table-row.first,
  .prices__table-row.second,
  .prices__table-row.third,
  .prices__table-row.fourth {
    justify-content: center;
    .prices__table-row_item.first,
    .prices__table-row_item.second,
    .prices__table-row_item.third,
    .prices__table-row_item.fourth {
      padding: 0;
      padding-top:18px;
      justify-content: center;
    }
  }
  .prices__table-row.first {
    .prices__table-row_item.first,
    .prices__table-row_item.second,
    .prices__table-row_item.third,
    .prices__table-row_item.fourth {
      padding-top: 24px;
    }
  }
  .prices__table-row.first,
  .prices__table-row.second,
  .prices__table-row.third,
  .prices__table-row.fourth {
    .prices__table-row_item.first {
      padding-top: 22px;
      padding-left: 20px;
      justify-content: flex-start;
    }
  }
  //END CONTENT POSITION
  //STICKER
  .prices__sticker {
    width: 80%;
    height: 30px;
    padding-top: 6px;
    left: -30%;
    top:15%;
    color: #ffffff;
  }
  //END STICKER
}
