.slogan {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

@media(min-width: $media-mobile) {
  .slogan {
    padding-top: 45px;
    padding-bottom: 40px;
  }
  .slogan__mobile-first {
    margin-bottom: 45px;
  }
}
@media(min-width: $media-tablet) {
  .slogan {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .slogan__mobile-first {
    margin-bottom: auto;
  }
  .slogan__first-br {
    display: none;
  }
}
@media(min-width: $media-desktop) {
  .slogan {
    padding-top: 80px;
    padding-bottom: 88px;
  }
  .slogan__mobile-first {
    margin-bottom: auto;
  }
  .slogan__first-br {
    display: none;
  }
}
